@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

.Learning-Coding{
    background-color: #116CFF;

}
.info{
    padding:3%;
    display:flex;
    justify-content: space-around;

}
.c{
    width: 33.94px;
    height: 34px;
    background-color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 28.5524px;
    line-height: 29px;
    color: #00235C;
}
.c span{
    padding-left: 21%;
}
.coding span {
    padding-left: 7%;
}
.pop-up-1{
    border-radius: 20px;
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #00235C;
    background-color: #FFCF2D;
    margin-left: 20%;
    width: 14%;
    height: 7%;
    line-height: 299%;
}
.pop-up-2{
    border-radius: 20px;
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #00235C;
    background-color: #E7F0FF;
    margin-left: 0;
    width: 14%;
    height: 7%;
    line-height: 299%;
    margin-top: 20%;
}

.foto-landing img{
    width: 632px;
    height: 386.5px;
}
.coding {
    display: flex;
    align-items: center;
    width: 81.94px;
    height: 34px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background-color: #00235C;
}
.ancoras{
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ancoras a{
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFE;
    text-decoration: none;


}
.icone{
    display:flex;
    align-items: center;
}
#ancora-escura{
    font-weight: 800;
}
.foto-landing{
    width: 75%;
}
.primeira-tela{
    display: flex;
}
.toda-imagem{
    height: 100%;
    display:grid;
}
.grande{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 160%;
    color: #FFFFFF;
}
.pequeno{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: #FFFFFF;
    margin-right: 14%;
}
.escrita{
    display:flex;
}
.texto{
    flex-direction: column;
}
.escrita{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    width: 35%;
    height: 65%;
    padding-right: 15%;
}
.botao-header{
    line-height: 205%;
    border-radius: 10px;
    height: 100%;
    width: 155%;
    padding-top: 15%;
    padding-bottom: 13%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #116CFF;
    border-style: none;
    margin-right: 50px;
}
.botao-branco{
    line-height: 205%;
    border-radius: 10px;
    height: 100%;
    width: 47%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #116CFF;
    border-style: none;
    margin-right: 5%;
}
.botao-transparente{
    border-style: solid;
    line-height: 205%;
    border-radius: 10px;
    height: 100%;
    width: 47%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #ffff;
    background: #116CFF;
    border-color: #ffff;
    border-width: 1px;
}
.primeira-tela{
    align-items: center;
}


body {
    margin: 0;
}

section {
    height: 100vh;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
}


.logical-thinking {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #00235C;
}

.logical-thinking article {
    width: 630px;
}

.logical-thinking p {
    width: 561px;
    height: 160px;
}

.preparing-your-kids {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
    background-color: #116CFF;
}

.preparing-your-kids article {
    width: 570px;
    margin-right: 38px;
}

.preparing-your-kids p {
    width: 526px;
    height: 120px;
}

.separador{
    display: flex;   
} 
#Testimony{
    margin-top: 7%;
    padding-left: 15%;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 25px;
    letter-spacing: 0.015em;
    color:#116CFF;
}

.escuro{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;  
}
.claro{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    }

.balao{
    background-image: url("./Img/background.png");
    gap: 20px;
    margin-top: 10%;
    padding-left: 15%;
    display: flex;
}
  
.balao .claro{
    width: 392px;
}
.foto{
    width: 79.13px;
    height: 80px;
    display:flex;
    justify-content: center;
    margin-right: 4%;
}
.foto2{
    width: 79.13px;
    height: 80px;
    display:flex;
    justify-content: center;
    margin-left: 4%;
}
.conversa, .conversa2{
    width: 550px;
    Height:187px;
    color: #00235C;
    padding: 4%;
    background: #E7F0FF;
    border-radius: 20px;
   
    margin: 2%;
}
.conversa{
    background: #FFE6E5;

}
.parte1{
    display: flex;
    align-items: center;
    
    flex-direction: column;
    margin: 4%;
    
}
.parte2{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 4%;
    

}

footer{
    padding-right: 15%;
    text-align: right;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.015em;

    color: #FFFFFF;
}
.coment{
    display: flex;
    
}
.stars img{
    padding-top: 5%;
    height: 20px;
}


#aspa::before,
#aspa::after {
    color: #ff463a;
    font-size: clamp(24px, 2vw, 36px);
    font-style: bold;
}

#aspa::before {
    content: open-quote;
}

#aspa::after {
    content: close-quote;
}

#aspa{
    font-size: 24px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.015em;
    line-height: 180%;
}
.mensagem{
    padding-top: 5%;
}
.arrow-left1{
    width: 97px;
    height: 0px;
    position: absolute;
    border-top: 3px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #FFE6E5; 
    margin-top: 4%;
  }
  .arrow-left2{
    width: 97px;
    height: 0px;
    position: absolute;
    border-top: 3px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #E7F0FF;
    margin-top: 4%;
  }
  .arrow-right1{
    position: absolute;
    border-top: 2px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #FFE6E5;
    margin-top: 4%;
    margin-left: 512px;
  }
  .arrow-right2{
    position: absolute;
    border-top: 2px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #E7F0FF;
    margin-top: 4%;
    margin-left: 512px;
  }

  