@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

.Learning-Coding{
    background-color: #116CFF;

}
.info{
    padding:3%;
    display:flex;
    justify-content: space-around;

}
.c{
    width: 33.94px;
    height: 34px;
    background-color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 28.5524px;
    line-height: 29px;
    color: #00235C;
}
.c span{
    padding-left: 21%;
}
.coding span {
    padding-left: 7%;
}
.pop-up-1{
    border-radius: 20px;
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #00235C;
    background-color: #FFCF2D;
    margin-left: 23%;
    width: 20%;
    line-height: 275%;
}

.pop-up-2{
    border-radius: 20px;
    position: absolute;
    width: 20%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #00235C;
    background-color: #E7F0FF;
    line-height: 275%;
    margin-top: 23%;
}

.foto-landing img{
    width: 632px;
    height: 386.5px;
}
.coding {
    display: flex;
    align-items: center;
    width: 81.94px;
    height: 34px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background-color: #00235C;
}
.ancoras{
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ancoras a{
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFE;
    text-decoration: none;


}
.icone{
    display:flex;
    align-items: center;
}
#ancora-escura{
    font-weight: 800;
}
.foto-landing{
    width: 75%;
}
.primeira-tela{
    display: flex;
}
.toda-imagem{
    height: 100%;
    display:grid;
}
.grande{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 160%;
    color: #FFFFFF;
}
.pequeno{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: #FFFFFF;
    margin-right: 14%;
    width: 85%;
}
.escrita{
    display:flex;
}
.texto{
    flex-direction: column;
}
.escrita{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    height: 65%;
}

.botao-header{
    line-height: 205%;
    border-radius: 10px;
    padding: 20%;
    padding-top: 7%;
    padding-bottom: 3%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #116CFF;
    border-style: none;
    margin-right: 50px;
}
.botao-branco{
    line-height: 205%;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #116CFF;
    border-style: none;
    margin-right: 5%;
    padding: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.botao-transparente{
    border-style: solid;
    line-height: 205%;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #ffff;
    background: #116CFF;
    border-color: #ffff;
    border-width: 1px;
    padding: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.primeira-tela{
    align-items: center;
}


body {
    margin: 0;
}

section {
    height: 100vh;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
}


.logical-thinking {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #00235C;
}

.logical-thinking article {
    width: 630px;
}

.logical-thinking p {
    width: 561px;
    height: 160px;
}

.preparing-your-kids {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
    background-color: #116CFF;
}

.preparing-your-kids article {
    width: 570px;
    margin-right: 38px;
}

.preparing-your-kids p {
    width: 526px;
    height: 120px;
}

.separador{
    display: flex;   
} 
#Testimony{
    margin-top: 7%;
    padding-left: 15%;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 25px;
    letter-spacing: 0.015em;
    color:#116CFF;
}

.escuro{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;  
}
.claro{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    }

.balao{
    background-image: url("./Img/background.png");
    justify-content: center;
    display: flex;
}
  
.balao .claro{
    width: 392px;
}
.foto{
    width: 79.13px;
    height: 80px;
    display:flex;
    justify-content: center;
    margin-right: 4%;
}
.foto2{
    width: 79.13px;
    height: 80px;
    display:flex;
    justify-content: center;
    margin-left: 4%;
}
.conversa, .conversa2{
    width: 550px;
    Height: 187px;
    color: #00235C;
    padding: 4%;
    background: #E7F0FF;
    border-radius: 20px;
    margin: 2%;
    margin-right: 8%;
}
.conversa{
    background: #FFE6E5;

}
.parte1{
    display: flex;
    align-items: center;
    
    flex-direction: column;

    
}
.parte2{
    display: flex;
    align-items: center;
    flex-direction: column;

    

}

footer{
    padding-right: 15%;
    text-align: right;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.015em;

    color: #FFFFFF;
}
.coment{
    display: flex;
    
}
.stars img{
    padding-top: 5%;
    height: 20px;
}


#aspa::before,
#aspa::after {
    color: #ff463a;
    font-size: clamp(24px, 2vw, 36px);
    font-style: bold;
}

#aspa::before {
    content: open-quote;
}

#aspa::after {
    content: close-quote;
}

#aspa{
    font-size: 24px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.015em;
    line-height: 180%;
}
.mensagem{
    padding-top: 5%;
}
.arrow-left1{
    width: 97px;
    height: 0px;
    position: absolute;
    border-top: 3px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #FFE6E5; 
    margin-top: 4%;
  }
  .arrow-left2{
    width: 97px;
    height: 0px;
    position: absolute;
    border-top: 3px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #E7F0FF;
    margin-top: 4%;
  }
  .arrow-right1{
    position: absolute;
    border-top: 2px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #FFE6E5;
    margin-top: 4%;
    margin-left: 35%;
  }
  .arrow-right2{
    position: absolute;
    border-top: 2px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #E7F0FF;
    margin-top: 4%;
    margin-left: 35%;
  }
  .tabela{
    width: 70%;
    height: 60%;
    border-collapse: collapse;
}
.cabeçalho-1{
  height: 40px;
  background-color: #b3cbf7;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #00235C;
}
.cabeçalho-2{
   height: 50px;
  background-color: #b3cbf7;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  border-left: 4px solid #FF463A;
color: #00235C;
}
.item-1, .item-2, .item-3, .item-4{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #116CFF;
  height: 50px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #116CFF;
}
.Our-Class{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color:#116CFF;

}

.segundo-texto, .terceiro-texto{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #00235C;
  
}
.tabela{
    width: 70%;
    height: 60%;

}
.forte{
    
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: right;
  color: #00235C;
  padding-right: 3%;
}
.alinhar{
  padding-left: 3%;
}
.vermelho{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: right;
  color: #FF463A;
  padding-right: 3%;
}
.detail-class{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 10px;
    background-color: #116CFF;
    align-content: center;
    display: flex;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    border-radius: 10px;
    justify-content: center;
}


.opt{
  padding-left: 3%;
}
.segundo-texto{
  display: flex;
  margin-top: 13%;
}

.estrelas-cabeçalho{
  padding-left: 3%;
}
.segunda-coluna{
  display: flex;
  padding-top: 8%;
}
#tag-new{
  margin-left: 31%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FF463A;
  background-color: #FFE6E5;
  line-height: 204%;
  padding: 21%;
  border-radius: 6px;
}

.free-trial{
  display:flex;
}
.align{
  line-height: 144%;
}

.Header-1{
padding-bottom: 7%;
padding-left: 14%;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 50px;
color: #FFFFFF;
}

  .tabela{
    width: 70%;
    height: 60%;
      border-collapse: collapse;
      margin-left: 15%;
  }
  .cabeçalho-1{
    height: 40px;
    background-color: #b3cbf7;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #00235C;
  }
  .cabeçalho-2{
     height: 50px;
    background-color: #b3cbf7;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;



color: #00235C;
  }
  .item-1, .item-2, .item-3, .item-4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #116CFF;
      height: 50px;
      background-color: #FFFFFF;
  }
  .Our-Class{
    display: flex;
    justify-content: center;
    background-color:#116CFF;

  }
  .primeiro-texto{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    height: 20px;
    color: #00235C;
    padding-left: 3%;
    border-top-left-radius: 10px;
    border-left: 4px solid #FF463A;
}

  .segundo-texto, .terceiro-texto{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #00235C;
    
  }
  .segundo-texto{
    display:flex;
  }
  .tabela{
    width: 70%;
    height: 60%;
  }
  .forte{
      
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    color: #00235C;
    padding-right: 3%;
  }
.alinhar{
    padding-left: 3%;
}
.vermelho{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    color: #FF463A;
    padding-right: 3%;
}

.estrelas-cabeçalho{
    padding-left: 3%;
}
.reto{
    width: 100%;
}
.div-botao{
    padding-right: 2%;
    border-top-right-radius: 10px;
}
#borda{
    border-bottom-left-radius: 10px;
}
.borda{
    border-bottom-right-radius: 10px;
}
.estrela-grande{
    width: 63px;
    height: 94px;

}
.estrela-pequena{
    width: 39.54px;
    height: 59px;
    padding-top: 263%;
    padding-left: 96%;

}
.texto-ultima-pagina{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    color: #00235C;
}
.header-ultimo{
    display: flex;
    justify-content: center;
    padding-right:6%;
}
.article-ultimo{
    padding-top: 6%;
    display: inline-grid;
}
.alinhar-estrela{
    padding-right: 5%;
    padding-top: 2%;
}
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 1%;
    padding-top: 1%;
}
.distancia{
    padding-top: 7%;
    margin-bottom: 16%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #00235C;
}
.input-balao{
    margin-bottom: 8%;
    border: 1px solid #BCD6FF;
    width: 361px;
    height: 39px;
    padding-right: 20%;
    border-radius: 10px;

}

.main-ultima{
    display: flex;
    margin-top: 3%;
}
.inputs-texto{
    width: 16%;
    display: flex;
    flex-direction: column;
    margin-left: 21%;
}
#padding{
    padding-left:18%;
}
#padding-2{
    padding-left:28%;
}
.botao-registro{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    background-color: #116CFF;
    margin-left: 59%;
    padding: 1%;
    padding-right: 3%;
    padding-left: 3%;
    border-radius: 10px;
}
.div-botao1{
    margin-top:2%;
}
.foto-microfone{
    margin-left: 120%;
    margin-top: 60%;
}

.footer-tela{
    background-color: #00235C;
    height: 50vh;
    display:flex;
}
#borda-branca{
    border: 1px solid white;
}
.texto-footer{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 10%;
}

.imagem-footer{
    width: 20px;
    height: 19.88px;
    margin-right:10%;
    
}
.lado-esquerdo{
    display: flex;
    flex-direction: column;
    margin: 6%;
}
#icone-footer{
    margin-bottom: 6%;
}
.distancia-footer{
    margin-bottom: 10%;
}
.lado-direito{
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.diferente{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #116CFF;

}
.coluna-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 15%;
    margin-left: 5%;
}
#beginner{
    width: 120%;
}
#intermediate{
    width: 150%;
}
.diferente-footer{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #116CFF;
    width: 155%;
}
.coluna-footer-diferente{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}
.alinha-texto-footer{
    margin-top: 65%;
}